<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List users</title>
</head>
<body>
    <table>
        <tr>
            <th>Full Name</th>
            <th>E-mail</th>
            <th>Status</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.fullName}">Default Name</td>
            <td th:text="${user.email}">example@mail.com</td>
            <td th:text="${user.flag}">active</td>
        </tr>
    </table>
</body>
</html>